/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 08-nov-2022, 19:23:39
    Author     : Juanjo
*/

*{
    -fx-textfield-background-color: rgba(180, 180, 180, 0.3);
    -fx-textfield-readonly-background-color: rgba(221, 221, 221, 0.3);
    -fx-textfield-border-color: rgba(86, 86, 86, 0.9);
    -fx-celdaDatos-background-color: rgba(232, 232, 232, 0.3);
    -fx-text-fill-estandar: black;
    -fx-text-fill-header: black;
    -fx-button-background: rgba(100, 100, 100, 0.6);
    -fx-hbox-background: rgba(243, 243, 243);
    -fx-hbox-border: rgba(86, 86, 86);
}

.primary-color{
    -fx-background-color: #FFFFFF;
}

.secondary-color{
    -fx-background-color: #E7E7E7;
}

.round-border{
    -fx-background-radius: 100;
}
.text-field{
    -fx-background-color: -fx-textfield-background-color;
    -fx-padding: 7;
    -fx-background-radius: 30;
    -fx-focus-color: transparent;
    -fx-border-width: 0.5;
    -fx-border-radius: 30;
    -fx-border-color: -fx-textfield-border-color;
}
.text-input:disabled{
    -fx-background-color: -fx-textfield-readonly-background-color;
    -fx-padding: 7;
    -fx-background-radius: 30;
    -fx-focus-color: transparent;
    -fx-border-width: 0.5;
    -fx-border-radius: 30;
    -fx-border-color: -fx-textfield-border-color;
}
#textoEstandar{
    -fx-font-size: 14px;
    -fx-text-fill: -fx-text-fill-estandar;
}
#title {
    -fx-text-fill: -fx-text-fill-header;
}
#header{
    -fx-text-fill: -fx-text-fill-header;
}
#celdaTipoDatos{
    -fx-background-color: -fx-celdaDatos-background-color;
    -fx-padding: 40;
    -fx-background-radius: 20;
}
#hBoxBoton{
    -fx-background-radius: 20;
    -fx-background-color:-fx-hbox-background;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-border-color: -fx-hbox-border;
}
#conf{
    -fx-background-radius: 20;
    -fx-background-color:-fx-hbox-background;
}
.combo-box{
    -fx-background-color: -fx-textfield-background-color;
    -fx-padding: 4;
    -fx-background-radius: 30;
    -fx-focus-color: transparent;
    -fx-border-width: 0.5;
    -fx-border-radius: 30;
    -fx-border-color: -fx-textfield-border-color;
    -fx-text-fill: rgba(24, 66, 36, 0.9);
}
.date-picker{
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-focus-color: transparent;
}
.date-picker .arrow-button{
    -fx-background-radius: 50;
    -fx-border-width: 0.5;
}
.spinner{
    -fx-background-color: transparent;
    -fx-background-radius: 30;    
    -fx-focus-color: transparent;
}
.spinner .arrow-button, .increment-arrow-button, .decrement-arrow-button{
    -fx-background-radius: 50;
    -fx-border-width: 0.5;
}
.button{
    -fx-background-radius: 20;
    -fx-font-size: 14px;
    -fx-background-color:-fx-button-background;
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9b9d9e 0%, #7a7c7d 100%),
            #7a7c7d,
            #9b9d9e,
            radial-gradient(center 50% 50%, radius 100%, #9b9d9e, #7a7c7d);
}